# C
*.so
*.o

# Build
build

# Notes
notes

# gdb
.gdb_history

# build files
src/binutils/bfd/coff-sh.lo
src/binutils/bfd/cpu-sh.lo
src/binutils/bfd/cpu-sparc.lo
src/binutils/bfd/elf32-sh.lo
src/binutils/bfd/sunos.lo
src/binutils/opcodes/cgen-bitset.lo
src/binutils/opcodes/sh-dis.lo
src/binutils/opcodes/sparc-dis.lo
src/binutils/opcodes/sparc-opc.lo
src/binutils/bfd/cpu-riscv.lo
src/binutils/bfd/elf32-riscv.lo
src/binutils/bfd/elf64-riscv.lo
src/binutils/bfd/elfxx-riscv.lo
src/binutils/opcodes/riscv-dis.lo
src/binutils/opcodes/riscv-opc.lo
src/binutils/bfd/doc/bfd.info
src/binutils/bfd/.deps/
src/binutils/bfd/.libs/
src/binutils/bfd/Makefile
src/binutils/bfd/aix5ppc-core.lo
src/binutils/bfd/aout32.lo
src/binutils/bfd/archive.lo
src/binutils/bfd/archive64.lo
src/binutils/bfd/archures.lo
src/binutils/bfd/bfd-in3.h
src/binutils/bfd/bfd.h
src/binutils/bfd/bfd.lo
src/binutils/bfd/bfd_stdint.h
src/binutils/bfd/bfdio.lo
src/binutils/bfd/bfdver.h
src/binutils/bfd/bfdwin.lo
src/binutils/bfd/binary.lo
src/binutils/bfd/cache.lo
src/binutils/bfd/coff-mips.lo
src/binutils/bfd/coff-rs6000.lo
src/binutils/bfd/coff64-rs6000.lo
src/binutils/bfd/coffgen.lo
src/binutils/bfd/cofflink.lo
src/binutils/bfd/compress.lo
src/binutils/bfd/config.h
src/binutils/bfd/config.log
src/binutils/bfd/config.status
src/binutils/bfd/corefile.lo
src/binutils/bfd/cpu-aarch64.lo
src/binutils/bfd/cpu-arm.lo
src/binutils/bfd/cpu-i386.lo
src/binutils/bfd/cpu-k1om.lo
src/binutils/bfd/cpu-l1om.lo
src/binutils/bfd/cpu-mips.lo
src/binutils/bfd/cpu-plugin.lo
src/binutils/bfd/cpu-powerpc.lo
src/binutils/bfd/cpu-rs6000.lo
src/binutils/bfd/doc/Makefile
src/binutils/bfd/doc/aoutx.stamp
src/binutils/bfd/doc/archive.stamp
src/binutils/bfd/doc/archures.stamp
src/binutils/bfd/doc/bfd.info-1
src/binutils/bfd/doc/bfd.info-2
src/binutils/bfd/doc/bfdio.stamp
src/binutils/bfd/doc/bfdt.stamp
src/binutils/bfd/doc/bfdwin.stamp
src/binutils/bfd/doc/cache.stamp
src/binutils/bfd/doc/chew
src/binutils/bfd/doc/chew.stamp
src/binutils/bfd/doc/coffcode.stamp
src/binutils/bfd/doc/core.stamp
src/binutils/bfd/doc/elf.stamp
src/binutils/bfd/doc/elfcode.stamp
src/binutils/bfd/doc/format.stamp
src/binutils/bfd/doc/hash.stamp
src/binutils/bfd/doc/init.stamp
src/binutils/bfd/doc/libbfd.stamp
src/binutils/bfd/doc/linker.stamp
src/binutils/bfd/doc/mmo.stamp
src/binutils/bfd/doc/opncls.stamp
src/binutils/bfd/doc/reloc.stamp
src/binutils/bfd/doc/section.stamp
src/binutils/bfd/doc/syms.stamp
src/binutils/bfd/doc/targets.stamp
src/binutils/bfd/dwarf1.lo
src/binutils/bfd/dwarf2.lo
src/binutils/bfd/ecoff.lo
src/binutils/bfd/ecofflink.lo
src/binutils/bfd/elf-attrs.lo
src/binutils/bfd/elf-eh-frame.lo
src/binutils/bfd/elf-ifunc.lo
src/binutils/bfd/elf-nacl.lo
src/binutils/bfd/elf-strtab.lo
src/binutils/bfd/elf-vxworks.lo
src/binutils/bfd/elf.lo
src/binutils/bfd/elf32-aarch64.c
src/binutils/bfd/elf32-aarch64.lo
src/binutils/bfd/elf32-arm.lo
src/binutils/bfd/elf32-gen.lo
src/binutils/bfd/elf32-i386.lo
src/binutils/bfd/elf32-mips.lo
src/binutils/bfd/elf32-ppc.lo
src/binutils/bfd/elf32-target.h
src/binutils/bfd/elf32.lo
src/binutils/bfd/elf64-aarch64.c
src/binutils/bfd/elf64-aarch64.lo
src/binutils/bfd/elf64-gen.lo
src/binutils/bfd/elf64-mips.lo
src/binutils/bfd/elf64-ppc.lo
src/binutils/bfd/elf64-target.h
src/binutils/bfd/elf64-x86-64.lo
src/binutils/bfd/elf64.lo
src/binutils/bfd/elflink.lo
src/binutils/bfd/elfn32-mips.lo
src/binutils/bfd/elfxx-aarch64.lo
src/binutils/bfd/elfxx-mips.lo
src/binutils/bfd/format.lo
src/binutils/bfd/hash.lo
src/binutils/bfd/i386linux.lo
src/binutils/bfd/ihex.lo
src/binutils/bfd/init.lo
src/binutils/bfd/libbfd.a
src/binutils/bfd/libbfd.la
src/binutils/bfd/libbfd.lo
src/binutils/bfd/libtool
src/binutils/bfd/libtool-soversion
src/binutils/bfd/linker.lo
src/binutils/bfd/mach-o-i386.lo
src/binutils/bfd/mach-o-x86-64.lo
src/binutils/bfd/mach-o.lo
src/binutils/bfd/merge.lo
src/binutils/bfd/ofiles
src/binutils/bfd/opncls.lo
src/binutils/bfd/pe-arm.lo
src/binutils/bfd/pe-i386.lo
src/binutils/bfd/pe-x86_64.lo
src/binutils/bfd/pef.lo
src/binutils/bfd/pei-arm.lo
src/binutils/bfd/pei-i386.lo
src/binutils/bfd/pei-x86_64.lo
src/binutils/bfd/peigen.c
src/binutils/bfd/peigen.lo
src/binutils/bfd/pex64igen.c
src/binutils/bfd/pex64igen.lo
src/binutils/bfd/plugin.lo
src/binutils/bfd/po/BLD-POTFILES
src/binutils/bfd/po/Makefile
src/binutils/bfd/po/Makefile.in
src/binutils/bfd/po/SRC-POTFILES
src/binutils/bfd/ppcboot.lo
src/binutils/bfd/reloc.lo
src/binutils/bfd/section.lo
src/binutils/bfd/simple.lo
src/binutils/bfd/srec.lo
src/binutils/bfd/stab-syms.lo
src/binutils/bfd/stabs.lo
src/binutils/bfd/stamp-h1
src/binutils/bfd/stamp-lib
src/binutils/bfd/stamp-ofiles
src/binutils/bfd/stmp-bfd-h
src/binutils/bfd/syms.lo
src/binutils/bfd/targets.lo
src/binutils/bfd/targmatch.h
src/binutils/bfd/tekhex.lo
src/binutils/bfd/verilog.lo
src/binutils/bfd/xcofflink.lo
src/binutils/bfd/xsym.lo
src/binutils/libiberty/Makefile
src/binutils/libiberty/config.h
src/binutils/libiberty/config.log
src/binutils/libiberty/config.status
src/binutils/libiberty/libiberty.a
src/binutils/libiberty/required-list
src/binutils/libiberty/stamp-h
src/binutils/libiberty/stamp-noasandir
src/binutils/libiberty/stamp-picdir
src/binutils/libiberty/testsuite/Makefile
src/binutils/libiberty/xhost-mkfrag
src/binutils/opcodes/.deps/
src/binutils/opcodes/.libs/
src/binutils/opcodes/Makefile
src/binutils/opcodes/aarch64-asm-2.lo
src/binutils/opcodes/aarch64-asm.lo
src/binutils/opcodes/aarch64-dis-2.lo
src/binutils/opcodes/aarch64-dis.lo
src/binutils/opcodes/aarch64-opc-2.lo
src/binutils/opcodes/aarch64-opc.lo
src/binutils/opcodes/arm-dis.lo
src/binutils/opcodes/config.h
src/binutils/opcodes/config.log
src/binutils/opcodes/config.status
src/binutils/opcodes/dis-buf.lo
src/binutils/opcodes/dis-init.lo
src/binutils/opcodes/disassemble.lo
src/binutils/opcodes/i386-dis.lo
src/binutils/opcodes/i386-opc.lo
src/binutils/opcodes/libopcodes.a
src/binutils/opcodes/libopcodes.la
src/binutils/opcodes/libtool
src/binutils/opcodes/micromips-opc.lo
src/binutils/opcodes/mips-dis.lo
src/binutils/opcodes/mips-opc.lo
src/binutils/opcodes/mips16-opc.lo
src/binutils/opcodes/po/Makefile
src/binutils/opcodes/po/Makefile.in
src/binutils/opcodes/po/POTFILES
src/binutils/opcodes/ppc-dis.lo
src/binutils/opcodes/ppc-opc.lo
src/binutils/opcodes/stamp-h1
src/binutils/opcodes/stamp-lib
src/binutils/bfd/coff-arm.lo
src/binutils/bfd/elf32-sparc.lo
src/binutils/bfd/elf64-sparc.lo
src/binutils/bfd/elfxx-sparc.lo
src/binutils/bfd/sparclinux.lo

